<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RutaLog" value="C:\logs\LogRenameFileBlob.log" />
		<add key="DirectoryFile" value="D:\Archivos\Neps\Iteracion.txt" />
		<add key="StorageAccountName" value="almacenamientonuevo" />
		<add key="StorageAccountKey" value="W1elDdhpdYv0dmB8U0PV+GddzbvAqQrZMzc+kveUdAVB8jgHV8sBY6Hk4V0d1ZhUtFdJTQpUkD61oFOwqkBKsQ==" />
		<add key="StringConnectionStorage" value="almacenamientonuevo" />
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=almacenamientonuevo;AccountKey=W1elDdhpdYv0dmB8U0PV+GddzbvAqQrZMzc+kveUdAVB8jgHV8sBY6Hk4V0d1ZhUtFdJTQpUkD61oFOwqkBKsQ==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>