<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="SavePathCSV" value="\\BOGLAPDESPP1417\Compartida\Sanitas\" />
		<add key="fileName" value="ReportCSV.csv" />
		<add key="RutaLog" value="C:\logs\LogRenameFileBlob.log" />
		<add key="StorageAccountName" value="900156264integrales" />
		<add key="StorageAccountKey" value="E2flNDcR2Ao2p6wbq43/R3XVu+2LBYWWyN/Hqz1d6FCeRwr+M3VTjvF+ZszyV/h4VOEkVVW+PZAUFm4ul40Stw==" />
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=almacenamientonuevo;AccountKey=B/4L/IpddbsmiZoY3EvwF2ieWUmAZ2p0d3P2mqShKe5A7rg8/YBKhd+KGxFRlbacHOb4IoQmVPn1nD3seeXQZQ==;EndpointSuffix=core.windows.net" />
	</appSettings>
	<connectionStrings>
		<!--Sanitas-->
		<add name="SanitasConexionBizagi" connectionString="Data Source=BOG-TEC-DTABASE;Initial Catalog=Sanitas;User ID=pruebatecppl;Password=FIH5gKLIxH"
		   providerName="System.Data.SqlClient" />
		<add name="SanitasConexionIQDoc" connectionString="Data Source=BOG-TEC-DTABASE\SQL2014;Initial Catalog=IQCM_Sanitas;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<add name="SanitasConexionFlash" connectionString="Data Source=BOG-INT-DTABASE;Initial Catalog=Flash_SanitasInt;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<!--Mundial-->
		<add name="ConexionPredMundial" connectionString="Data Source=predtecnicas.database.windows.net;Initial Catalog=healthservicePRED-central-db-mundial-tec;User ID=userpredtecnicas;Password=tecnicas.2017"
		  providerName="System.Data.SqlClient" />
		<add name="MundialConexionIQDoc" connectionString="Data Source=BOG-TEC-DTABASE\SQL2014;Initial Catalog=IQDocMundialSeguros_TEST;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<add name="MundialConexionFlash" connectionString="Data Source=BOG-INT-DTABASE;Initial Catalog=Flash_SanitasInt;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<!--PPL-->
		<add name="PPLConexionBizagi" connectionString="Data Source=AZR-TEST-BIZAGI\BIZAGI_TEST;Initial Catalog=PPL_Tec;User ID=locodepruebas;Password=pruebas"
			providerName="System.Data.SqlClient" />
		<!--<add name="PPLConexionBizagi" connectionString="Data Source=LOCALHOST;Initial Catalog=wf_prueba;User ID=sa;Password=Colombia.2021"
			providerName="System.Data.SqlClient" />-->
		<add name="PPLConexionIQDoc" connectionString="Data Source=BOG-TEC-DTABASE\SQL2014;Initial Catalog=IQDoc_ConsorcioPPL_Test;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<add name="PPLConexionFlash" connectionString="Data Source=BOG-INT-DTABASE;Initial Catalog=Flash_SanitasInt;User ID=Pruebatecembargos;Password=5MQFgwxdQ8"
		   providerName="System.Data.SqlClient" />
		<!--CleanRepositoryDB-->
		<add name="ConexionCleanRepository"
		  connectionString="Data Source=BOG-DEV-DTABASE;Initial Catalog=CleanRepository_IQ_Dev;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>